/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.parent-div{
	display: flex;
	width: 100%;
	margin: 50px 0;
}
.parent-div .zs_shortcode_form {
	width: 100%;
}
.parent-div .selected_labels {
	/*width: 20%;*/
    display: flex;
	background: #eee;
    padding: 10px;
    border: 1px solid #00000040;
}
.zs_shortcode_form .main_row_content {
    display: flex;
}
.zs_shortcode_form .main_row {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    width: 14.44%;
}
.zs_shortcode_form .main_row.Periods{
	width: unset;
}
.zs_shortcode_form .main_row .head_all {
	margin: 10px 0 20px 0;
	display: block;
	font-size: 16px;
	line-height: 1.5;
   	position: relative;
	width: fit-content;	
	margin-left: 20px;
}
.zs_shortcode_form .main_row_content.menu_style_active .main_row .head_all{
	margin-left: 0px;
}
.zs_shortcode_form .main_row p {
	margin-bottom: 5px;
    line-height: 1;
    width: 87%;
	margin-left: 20px;
}
.zs_shortcode_form .main_row p label{
	font-size: 14px !important;
    line-height: 1;
    position: relative;
    word-break: break-word;
    width: 104px;
    text-transform: none;
    font-weight: normal;
}
.zs_shortcode_form .main_row strong {
/*     margin-left: -20px; */
    margin-right: 5px;
}
.zs_shortcode_form .main_row input[type="checkbox"] {
	position: absolute;
    left: -19px;
    top: 2px;
	margin-left: 0;
}
.zs_shortcode_form .zs-tt-info {
    text-decoration: underline;
}
.zs_shortcode_form .main_row input[type="checkbox"][disabled] {
  background-color: #9e9e9e33;
}
.zs_shortcode_form .main_row label.disabled {
	opacity: 0.5;
}

.zs_shortcode_form .main_row input[type="checkbox"][readonly], 
.zs_shortcode_form .main_row label.readonly {
  pointer-events: none;
  cursor: wait;
  //opacity: 0.5;
}

.zs_shortcode_form .list-head {
    margin: 10px 0;
    display: flex;
/*     align-items: center; */
}
i {
	font-style: italic !important;
}
.zs_shortcode_form #taglines {
    width: 100%;
    margin: 0 10px;
}

.zs_shortcode_form #reset-frm {
    margin: 10px;
}
.selected_labels label{
	display: block;
	line-height: 1;
	margin-bottom: 5px;
	font-weight: normal;
    text-transform: none;
}
.selected_labels label b{
	font-weight: bold;
}
.selected_labels label span{
	font-weight: normal;
}
.selected_labels .list-head{
	text-align: center;
	margin-bottom: 20px;
}
.selected_labels .hide, .zs_hidden_tags .hide{ display: none; }
.refill_frm textarea{
    border: 1px solid #00000040;
    margin: 10px 0 !important;
    background-color: #eee !important;
}

/* Dev 01-05-23  */

.zs_item_frm .zs_shortcode_form .zotero_category_list input{
    padding: 1rem;
	text-transform: capitalize;
}
.zs_shortcode_form .menu_style_active .main_row strong, .zotero_category_list{
        display: none;
}

.main.zs_shortcode_form .list-footer, .main.zs_shortcode_form .style_list_button{
    margin: 10px 0;
}
.zs_shortcode_form .change_style_btn.active_style, .zs_item_frm .zs_shortcode_form .zotero_category_list input.active{
        background-color: #fcbd30;
}
.zs_shortcode_form .menu_style_active .main_row.active{
    display: inline-block;
}
.zs_shortcode_form .menu_style_active .main_row.active .row_vlaue_parent{
    display: flex;
    flex-wrap: wrap;
}

.zs_shortcode_form .menu_style_active .main_row p {
    width: 16.66%;
    margin: 0 0 15px;
}

.zs_shortcode_form .menu_style_active .main_row {
     width: 100%;
     display: none;
}
.zs_shortcode_form .menu_style_active .main_row .row_vlaue_parent{
    width: 100%;
    background: #d9d9d9;
    display: none;
    padding: 15px 15px;
}

.zs_shortcode_form .menu_style_active .main_row .head_all {
    width: 100%;
}

.zs_shortcode_form .menu_style_active .main_row label {
    background: #fff;
    display: inline-block;
    width: calc( 100% - 10px ) !important;
    padding: 12px 15px;
    cursor: pointer;
}

.zs_shortcode_form .menu_style_active .main_row label.checked {
    background: #324856;
    color: #fff;
}

.zs_shortcode_form .menu_style_active .main_row input {
    display: none;
}

/* Dev 01-05-23  */

/* Dev 11-05-23  */
.main_row_content .main_row .row_title_parent strong i{
    display: none;
}
.version_2 .main_row_content .main_row .row_title_parent strong i {
    font-style: normal !important;
    margin-left: 13px;
    display: inline-block;
	transform: rotate(180deg);
}
.version_2 .main_row_content .main_row .row_title_parent strong.close i{
	transform: rotate(0deg);
}

.version_2 .main_row_content .main_row .row_title_parent strong {
    border-bottom: 1px solid #000;
    padding-bottom: 6px;
}

/* Dev 11-05-23  */

/* Dev 16-05-23 */

.zotero_category_list .row_title_parent { display: inline-block;}
.zotero_category_list .row_title_parent input[type="button"] { background: transparent; color: #000; font-weight: bold; font-size: 16px !important; font-family: "Source Sans Pro"; letter-spacing: 1px; }
.zotero_category_list .row_title_parent i{ font-style: normal !important; margin-left: 13px; display: inline-block; }
.zs_item_frm .zs_shortcode_form .zotero_category_list .row_title_parent input.active { background-color: #d9d9d9; }

/* Dev 16-05-23 */

/* Dev 13-06-23 */
.main_row_content.list_style_active .main_row {
    padding-left: 0;
    padding-top: 10px;
}

.main_row_content.list_style_active .main_row strong {
    color: #000;
    letter-spacing: 1px;
}

.main_row_content.list_style_active .main_row strong i {
    font-size: 14px;
}

.main_row_content.list_style_active .main_row:first-child {
    padding-left: 16px;
}
.search-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
img.style_icon {
    margin-right: 10px;
	height: 20px;
}
button[name="menu_style"] > .list_icon, button[name="list_style"] > .menu_icon {
	display:none;
}
.zs_shortcode_form .change_style_btn.active_style{
    min-width: 252px;
}

/*  15-06-2023 */
.parent-div .zs_shortcode_form .style_list_button .change_style_btn {
    padding: 0.9rem 2rem;
    min-height: 50.38px;
    min-width: 220px;
}
.zotero_category_list.menu_style_show{
	display:flex;
	flex-wrap:wrap;
}
.parent-div  .zotero_category_list .row_title_parent {
    width: calc(100% / 8 - 0px);
}
.zotero_category_list .row_title_parent input {
    width: 100%;
}
/* 26-06-23 */
.zs_shortcode_form .list-head {
    flex-direction: column;
}
.style_list_button {
    display: flex;
	justify-content: center;
    align-items: flex-end;
}
span.result_count {
    margin: 10px;
}

/*  17-07-23 */
.zs_shortcode_form .zs_hidden_tags #taglines {
/*     max-width: 500px; */
    padding: 0 15px 0 0px;
    /* max-height: 100px; */
    overflow: auto;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    width: 100%;
    flex-wrap: nowrap;
    margin-bottom: 13px;
	gap: 5px;
}

.zs_shortcode_form .zs_hidden_tags #taglines label.hide {
    word-break: break-word;
    white-space: nowrap;
    line-height: normal;
    padding-bottom: 5px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 5px;
	text-transform: none;
}

.zs_hidden_tags {
    vertical-align: text-top;
    display: inline-block;
/*     height: 100%; */
}

