/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.subtable-main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.subsubsub{
	margin: 8px 0px 15px;
}
 .id-col{
 	width: 20px;
 }
 .action-col{
 	width: 100px;
 }

.toplevel_page_zotero_search-admin li.wp-first-item{
    display: none;
}

/* 15-06-23 */
.zs_label_update_section {
    margin: 15px 0px;
}

#import-zotero-data-frm label > input, #facetes_label_update label > input {
    width: 250px;
    margin: 5px 0;
}
#import-zotero-data-frm label, #facetes_label_update label{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}
.zotero-admin_page_zotero_search-import form:not(#facetes_label_update), .zotero-admin_page_zotero_search-import .subtable-main, .toplevel_page_zotero_search-admin form:not(#facetes_label_update), .toplevel_page_zotero_search-admin .subtable-main{
    border-bottom: 1px solid rgb(64, 62, 62);
    padding-bottom: 5px;
}